      <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
       <h4 id="logo">Good Vibrations Vinyl</h4>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   root_path %></li>
            <li><%= link_to "Register",   help_path %></li>
            <li><%= link_to "Log In", about_path %></li>
            <li><%= link_to "Browse", '#' %></li>
            <li><%= link_to "Cart", '#' %></li>
            <li><%= link_to "Log Out", '#' %></li>
            <li><%= link_to "Search", '#' %></li>
          </ul>
        </nav>
      </div>
    </header>